/* ADD HEADER STYLES */

header{
    background-color: #070E21;
    color: #ffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.logo{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
span{
    margin-left: 50%;
}
nav{
    max-width: 1080px;
    padding: 15px;
    margin-left:10%;
    margin-top: -25px;
}
nav>ul{
    text-align: center;
}
nav>ul>li{
    display: inline-block;
    padding: 15px;
    margin-inline-end: 10px;
    box-shadow: 1px 1px 5px;
}
nav>ul>li>a{
    padding: 15px;
}
nav>ul>li>a:hover{
    color: white;
    background-color: grey;
    padding: 15px;
}


/* STYLE THE PROFILE CONTAINER*/
.profile-container{
    background-color: #070E21;
    padding-top: 10px;    
    display: flex;  
    justify-content: space-around;  
}
.profile-image{
    border: solid white 5px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
#ipsy{
    border-radius: 50%;
    
}
.username{
    text-align: center;
    font-size: large;
    
}
/* .username:hover{
    color: white;
    background-color: blueviolet;
} */

.btn{
    padding-left: 10px;
}

.btn:hover{
    background-color: greenyellow;
}

table, td, th{
    padding: 5px;
    border: 2px solid blue;
    border-collapse: collapse;
}
table{
    background-color: white;
    width: 600px;
    height: 200px;
}

#fill{
    height: 30px;
    font-size: large;

}
/* STYLE FOOTER  */


footer{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 50px;
    font-size: larger;
    opacity: 0.7;
    border-top: 10%;
}
.contact>a:hover{
    color: blue;
}
